<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/" method="POST">
    {{form.csrf_token}}
    <div>
      {{form.name.label}}
      {{form.name}}
    </div>
    {% for err in form.name.errors %}
      <p style="color: red;">{{err}}</p>
    {% endfor %}
    <div>
      {{form.password.label}}
      {{form.password}}
    </div>
    {% for err in form.password.errors %}
      <p style="color: red;">{{err}}</p>
     {% endfor %}
    {{form.submit}}
  </form>
</body>
</html>